:root {
  --position: 50%;
}

body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

.home {
  position: relative;
}

.main-container {
  margin: auto;
  width: 100%;
}


.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 5rem 20rem 5rem 20rem;
}

li {
  padding-left: 2rem;
}

.feature-text {
  text-align: center;
  font-weight: 700;
  padding: 1.125rem 0 0 0;
}

.footer {
  color: #000000;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.product-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-wrap: wrap;
  margin-top: 8rem;
  color: #49739b;
}

@media (min-width: 976px) {
  .product-details {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1440px) {
  .product-details {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.image-container {
  cursor: pointer;
}

.product-details-title {
  padding-bottom: 5px;
  font-weight: 700;
}

.details-price {
  font-size: larger;
  font-weight: 500;
  padding-bottom: 10px;
}

.rec-products {
  padding-top: 30px;
  padding-bottom: 12px;
  text-align: center;
}

.product-details-image {
  border-radius: 15px;
}

.product-details-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.other-images-container {
  display: flex;
  padding-top: 10px;
  gap: 10px;
}

.other-image {
  border-radius: 8px;
  width: 120px;
  height: 60px;
  cursor: pointer;
}

.recommended-products-container {
  text-align: center;
  color: black;
  font-size: 20px;
}

.recommended-products {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 10px 0;
}

.product-detail-buttons {
  display: flex;
  padding: 5px 0 10px 0;
}

.buy-now {
  width: 200px;
  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
  cursor: pointer;
  transform: scale(1, 1);
  /* transition: transform 0.5s ease; */
}

.add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
}

.hidden {
  display: none;
}

.cart-container {
  height: 100vh;
  width: 500px;
  background-color: white;
  padding: 40px 10px;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.empty-cart {
  padding: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.continue-btn {
  padding: 10px 12px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin-top: 15px;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.continue-btn:hover {
  transform: scale(1.05, 1.05);
}

.tutorial-container {
  display: flex;
  background-color: gainsboro;
}

.tutorial {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 10;
  margin: 8rem 5rem 8rem 5rem;
  padding: 5rem 6rem 5rem 6rem;
}

.tutorial p {
  font-size: 20px;
}

.success-wrapper {
  background-color: white;
  min-height: 60vh;
}

.success {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-fill-icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #000000;
}

.success .email-msg {
  font-size: 20px;
  padding-top: 5px;
  font-weight: 600;
  text-align: center;
}

.slider-outer-section {
  padding: 5rem 10rem 5rem 10rem;
}

.slider-inner-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: auto;
  gap: 8rem;
  padding: 8px;
}

.slider-text {
  padding-bottom: 12px;
  text-align: center;
  color: rgb(28 25 23);
}

.slider-container {
  justify-content: center;
  align-items: center;
  display: inline-block;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
