body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

.home {
  position: relative;
}

.main-container {
  margin: auto;
  width: 100%;
}

.nb {
  display: flex;
  z-index: 20;
  justify-content: space-between;
  height: 4rem;
  width: 100vw;
  padding-top: 1.25rem;
}

.cart {
  font-size: 25px;
  color: black;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  padding-right: 12px;
}

.cart:hover {
  transform: scale(1.05, 1.05);
}

.cart-qty {
  position: absolute;
  right: 8px;
  font-size: 8px;
  color: #eee;
  background-color: #f02d34;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.bannerImage {
  /* background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(10, 10, 10, 0.7)
    ),
    url("../assets/banner.png"); */
  background-color: white;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: full;
  padding-top: 8rem;
  height: 40vh;
  border-radius: 15px;
  margin: 0 5px 0 5px;
}

.bannerText {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: black;
}

.bannerButton {
  border-width: 1px;
  border-radius: 8px;
  padding: 8px;
  background-color: salmon;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-ul {
  display: flex;
  flex-wrap: wrap;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 5rem 20rem 5rem 20rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding-left: 2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.feature-text {
  text-align: center;
  font-weight: 700;
  padding: 1.125rem 0 0 0;
}

.feature-products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 1.5rem 35rem 0 35rem;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
}

.product-image {
  border-radius: 15px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-card:hover {
  transform: scale(1.05, 1.05);
}

.p-title {
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
}

.p-price {
  margin: 5px 0 10px 0;
  font-weight: 800;
  text-align: center;
}

.footer {
  color: #000000;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 60px 20rem 0 20rem;
  color: #324d67;
}

.image-container {
  border-radius: 15px;
  cursor: pointer;
}

.title {
  font-weight: 700;
}

.details-price {
  font-size: larger;
  font-weight: 500;
}
