.feature {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  justify-content: center;
}

.featureProducts {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 15px;
}

@media (min-width: 768px) {
  .featureProducts {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1440px) {
  .featureProducts {
    padding: 0 15rem 0 15rem;
  }
}
