.feature {
    display: flex;
    padding-bottom: 5rem;
  }

  .featureProducts {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 1rem;
    gap: 10px;
  }
  
  @media (min-width: 976px) {
    .featureProducts {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }