.feature {
  display: flex;
  padding-bottom: 5rem;
  justify-content: center;
}

.featureProducts {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 15px;
}

@media (min-width: 768px) {
  .feature {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
