.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 200px;
  padding: 1rem 20rem 0 20rem;
  background: rgb(248, 246, 246);
}

.support {
  font-size: medium;
  padding: 8px 0 8px 0;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}

.supportLinkContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.presetLinkContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.supportLink {
  padding-bottom: 5px;
}

.footerLogo {
  padding-bottom: 2.5rem;
}

.footerSocial {
  padding-left: 1.5rem;
}

.footer {
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding: 30px 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background: rgb(248, 246, 246);
  }