.container {
  display: flex;
  flex-direction: column;
  width: screen;
  background: rgb(248, 246, 246);
  padding: 0 5rem 0 2rem;
}

.support {
  font-size: medium;
  padding: 8px 0 8px 0;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}

.supportLinkContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.presetLinkContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.socialLinkContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.supportLink {
  padding-bottom: 5px;
}

.footerLogo {
  padding-top: 1rem;
}

.footer {
  color: #000000;
  text-align: center;
  padding-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background: rgb(248, 246, 246);
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 180px;
  }

  .footerLogo {
    padding: 1rem 0 2.5rem 0;
  }
}

@media (min-width: 976px) {
  .container {
    padding: 1rem 20rem 0 20rem;
  }
}
