.imageSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
  background: rgb(243, 239, 239);
}

.firstInnerImage {
  background-image: url("../../public/island_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 8rem 0 8rem 0;
  border-radius: 8px;
  color: white;
  width: 500px;
  height: 495px;
  overflow: hidden;
}

.secondInnerImage {
  display: flex;
  background-image: url("../../public/beforeafter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  margin-top: 10px;
  width: 500px;
  max-height: 490px;
  border-radius: 8px;
  padding: 3rem 0 3rem 0;
}

.shopButton {
  margin-top: 8px;
  background: white;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
}

@media (min-width: 768px) {
  .firstInnerImage {
    padding: 15rem 0 15rem 0;
  }
}
