.imageSectionContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background: rgb(243, 239, 239);
    padding: 5rem 2rem 5rem 2rem;
  }

  @media (min-width: 1440px) {
    .imageSectionContainer {
      padding-left: 20rem;
      padding-right: 20rem;
    }
  }

  .sliderContainer {
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  