.navbarUl {
    display: flex;
    flex-wrap: wrap;
  }

  .nbWrapper {
    display: flex;
    position: fixed;
    background: white;
    z-index: 20;
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nbFirstContainer {
    display: flex;
    align-items: center;
  }
  
  .nbSecondContainer {
    padding-top: 18px;
    padding-right: 12px;
  }

  .cart {
    font-size: 25px;
    color: black;
    cursor: pointer;
    /* transition: transform 0.4s ease; */
    border: none;
    background-color: white;
  }

  .cartQty {
    position: absolute;
    right: 8px;
    font-size: 8px;
    color: #eee;
    background-color: #f02d34;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
  }
  
  .hidden {
    display: none;
  }
  