.productCard {
    cursor: pointer;
    color: #324d67;
  }
  
  .productImage {
    border-radius: 15px;
  }
  
  .productTitle {
    margin-top: 8px;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
  }
  
  .productImage {
    margin: 5px 0 10px 0;
    font-weight: 800;
    text-align: center;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 768px) {
    .productTitle {
      font-weight: 20px;
    }
  }