.info {
  display: flex;
  font-size: 40px;
  gap: 20px;
  justify-content: center;
  padding: 3.5rem 0 3.5rem 0;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoSpan {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .info {
    gap: 40px;
    font-size: 50px;
  }

  .infoSpan {
    font-size: 18px;
  }
}

@media (min-width: 976px) {
  .info {
    padding: 5rem 0 5rem 0;
  }

  .infoSpan {
    font-size: 22px;
  }
}
