.navbarUl {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 1;
}

.navBarUlMobile {
  position: absolute;
  width: 100%;
  background-color: rgb(241 245 249);
  margin: 0;
  padding: 12px 0 5px 12px;
  left: 0;
  top: 0;
  z-index: 10000;
  gap: 30px;
}

.nbWrapper {
  display: flex;
  position: fixed;
  background: transparent;
  z-index: 200;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  padding: 0 0.8rem;
}

.nbWrapperSecond {
  display: flex;
  position: fixed;
  background: rgb(241 245 249);
  z-index: 200;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  padding: 0 0.8rem;
}

.linkItemMobile {
  padding-top: 5px;
  text-decoration: none;
  cursor: pointer;
}

.nbFirstContainer {
  display: flex;
}

.cartContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
  cursor: pointer;
}

.shopLight {
  display: flex;
  font-size: 28px;
  color: rgb(241 245 249);
  padding-right: 12px;
  cursor: pointer;
}

.shopDark {
  display: flex;
  font-size: 28px;
  color: rgb(41 37 36);
  padding-right: 12px;
  cursor: pointer;
}

.cartQty {
  position: absolute;
  right: 12px;
  top: 1px;
  font-size: 8px;
  color: #eee;
  background-color: #f02d34;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.linkItem {
  padding-left: 18px;
  border-bottom: #eee;
}

.linksContainer {
  display: none;
}

.barContainerLight {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: rgb(241 245 249);
  align-items: center;
  margin: auto 12px auto 0;
  padding-left: 12px;
  width: 60px;
}

.barContainerDark {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: rgb(41 37 36);
  align-items: center;
  margin: auto 12px auto 0;
  padding-left: 12px;
  width: 60px;
}

.closeContainerDark {
  padding: 10px 0 0 18px;
  font-size: 25px;
  color: rgb(41 37 36);
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .linkItem {
    padding-left: 30px;
  }

  .barContainerLight {
    font-size: 25px;
    padding: 0;
  }

  .barContainerDark {
    font-size: 25px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
  }

  .barContainerLight {
    display: none;
  }

  .barContainerDark {
    display: none;
  }
}
