.navbarUl {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.nbWrapper {
  display: flex;
  position: fixed;
  background: transparent;
  z-index: 200;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  padding: 0 0.8rem;
}

.nbWrapperSecond {
  display: flex;
  position: fixed;
  background: rgb(241 245 249);
  z-index: 200;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  padding: 0 0.8rem;
}

.nbFirstContainer {
  display: flex;
  align-items: center;
}

.cartContainer {
  padding-right: 12px;
}

.shopLight {
  position: relative;
  font-size: 25px;
  color: rgb(241 245 249);
  cursor: pointer;
}

.shopDark {
  position: relative;
  font-size: 25px;
  color: rgb(41 37 36);
  cursor: pointer;
}

.cartQty {
  position: absolute;
  right: 8px;
  font-size: 8px;
  color: #eee;
  background-color: #f02d34;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.linkItem {
  padding-left: 15px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .linkItem {
    padding-left: 30px;
  }
}
