.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background: rgb(243, 239, 239);
  margin: auto;
}

.imageContainer {
  display: flex;
  margin: 0 2.5rem 0 2.5rem;
  margin: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 5px;
  justify-content: center;
  max-width: 480px;
}

.secondTitle {
  font-size: 16px;
  color: rgb(90, 82, 82);
  padding-bottom: 5px;
  text-align: center;
}

.title {
  padding-bottom: 12px;
  font-size: 2.5rem;
  text-align: center;
}

.text {
  color: rgb(90, 82, 82);
  padding: 0 2rem;
  font-size: medium;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .text {
    padding: 0;
  }

  .title {
    font-size: 40px;
    text-align: left;
  }

  .secondTitle {
    text-align: left;
  }
}

@media (min-width: 976px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem 0;
  }
}
